<ul class="list--inline pagination text-center">

  <div class="paginate">
    {% unless paginate.previous.is_link %}
      <div class="btn btn--narrow btn--disabled">
        <
      </div>
    {% else %}
      <a href="{{ paginate.previous.url }}" class="btn btn--narrow">
        <
      </a>
    {% endunless %}

    {{ paginate | default_pagination }}

    {% unless paginate.next.is_link %}
      <div class="btn btn--narrow btn--disabled">
        >
      </div>
    {% else %}
      <a href="{{ paginate.next.url }}" class="btn btn--narrow">
        >
      </a>
    {% endunless %}
  </div>
</ul>
