{% include 'feature-row' %}

{% schema %}
  {
    "name": "Image with text",
    "class": "index-section feature-row-container",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "range",
        "id": "title_size",
        "label": "Font size",
        "min": 10,
        "max": 100,
        "step": 1,
        "default": 32
      },
      {
        "type": "range",
        "id": "title_margin_bottom",
        "label": "Margin bottom",
        "min": 0,
        "max": 50,
        "step": 1,
        "default": 15
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Color"
      },


      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "range",
        "id": "subtitle_size",
        "label": "Font size",
        "min": 10,
        "max": 100,
        "step": 1,
        "default": 17
      },
      {
        "type": "color",
        "id": "subtitle_color",
        "label": "Color"
      },

      
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "range",
        "id": "content_size",
        "label": "Font size",
        "min": 10,
        "max": 100,
        "step": 1,
        "default": 16
      },
      {
        "type": "color",
        "id": "content_color",
        "label": "Color"
      },
      
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button Color"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
