<div class="container{% if section.settings.fluid %}-fluid{% endif %} loginpage">

{% unless section.settings.logncreate %}
  <div class="row">
    <div class="col-md-30 offset-md-15">
      {% include 'login-content' %}
    </div>
  </div>
{% else %}
  <div class="container">
    <div class="row">
      <div class="col-md-28">
        {% include 'login-content' %}
      </div>   
      <div class="col-md-28 offset-md-4">
        {% include 'createaccount' %}  
      </div>
    </div>
  </div>
{% endunless %}    
</div>

<style>
	{% if section.settings.bgimage %}
    {% if section.settings.image != blank %}
 		.loginpage {background-image: url('{{ section.settings.image | img_url: '2000x' }}');background-size:cover;}
    {% endif %}
    .col-md-30, .col-md-28 {background-color:white;padding:40px;}
 	{% endif %}
  .loginpage {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
  }              
</style> 

{% schema %}
  {
    "name": "Login Page Options",
    "settings": [
      {
        "type": "range",
        "id": "padding-top",
        "label": "Top Spacing",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding-bottom",
        "label": "Bottom Spacing",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 0
      },
	  {
        "type": "checkbox",
        "id": "fluid",
        "label": "Make Full-width",
        "default": false
      },
	  {
        "type": "checkbox",
        "id": "logncreate",
        "label": "Show Login & Create Account?",
        "default": false
      },
	  {
        "type": "checkbox",
        "id": "bgimage",
        "label": "Background Image & White boxes?",
        "default": false
      },
      {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
      }

	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
