<div class="container">
  <div class="row">
    <article class="col-md-40 offset-md-10">
      <div class="rte">
        {{ page.content }}
      </div>
    </article>
  </div>
</div>

{% schema %}
  {
    "name": "Page Content",
    "settings": [
    ],
    "blocks": [
    ]
  }
{% endschema %}
