<div class="page-template-container container">
  <div class="row">
    <article class="col-md-50 offset-md-5">
      <div class="rte">
        {{ page.content }}
      </div>
    </article>
  </div>
</div>

{% schema %}
  {
    "name": "Page Content",
    "settings": [
    ],
    "blocks": [
    ]
  }
{% endschema %}
