<div class="container">
  <div class="row justify-content-center">
    <article class="col-lg-40">
      <div class="rte">
        <h2>{{ page.title }}</h2>
        {{ page.content }}
        {% section 'page-template--faq' %}
      </div>
    </article>
  </div>
</div>
